

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
 
  text-align: center;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: bold;
  font-family:"PT Serif", serif;

}
.container{
  display: grid;
  grid-template-columns: repeat(3,100px);
  gap: 50px;
  background-color: #DA3E29;
 
}
.box {
  border: 2px rgb(247, 232, 232) ;
 width: 100px;
 height: 100px;
align-content: center;






}
.box1 {
  border-style: none;
}
  
.box2{
  border-style:dotted ;

}

.box3{
border-style: dashed;
}
.box4{
  border-style: solid;
}
.box5{
border-style: double;
}

.box6{
border-style: groove;
}
.box7{
  border-style: ridge;
}
.box8{
  border-style: inset;
}
.box9{
  border-style: outset;
}