* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.container {
  margin: 50px auto;
  padding: 50px;
  width: 80%;
  box-shadow: 4px 4px 10px rgba(44, 39, 39, 0.2);
  border-radius: 1.5rem;

}

.iconbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
  border-bottom: 2px solid blanchedalmond;
}

.input-part {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 50px;
  height: 50px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.select-cat select {
  margin: 20px;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(228, 226, 223);
}

.search-input {
  width: 300px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  height: 40px;
  margin-left: 1rem;
  overflow: hidden;
}

.search-input input {
  border: none;
  padding-left: 0.5rem;
}

.support {
  margin: 1rem;
  text-align: right;
}

.support .support-number {
  font-weight: bold;
  font-size: large;
}
.support .support-text {
  font-style: italic;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  margin: 30px 35px;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.select-linen {
  width: 310px;
  height: 30px;
  border: none;
  gap: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.imren {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.desk {
  background-color: #B1A594;
  padding: 2rem;
  margin: 2rem;
}

.desk p {
margin-bottom: 1rem;

}
.resimler{
  display: flex;
  align-items: center;
  justify-content: space-around;


}
.resimler img{
  width: 300px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px black;
  padding: 1rem;
}

.product{
  padding: 2rem;
  margin: 2rem;
  background-color: #eeeeee ;
  border-radius: 10px;
  
}

.product p{
margin-bottom: 1rem;
}
.products {
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
.products img{
   width: 300px;
  height: 250px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 4px 4px 15px black;
}
 
.last {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content:space-around;
 background-color: #B1A594;
 border-radius: 10px;
}
.paragraf {
  margin: 1rem;
}
.paragraf p{
  font-size: larger;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lastpart{
display: flex;
flex-direction: column;
gap: 0.5rem;


}