*{
  margin: 0;

}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.content {
  border: 2px solid ;
  background-color: aqua;
}

.content1{
  background-color: teal;
  grid-column-start: 1;
  grid-column-end: 4;
}
.content9{
  background-image: url(./images/crossleg.jpg);
  background-size: cover;
}
.content5{
display: flex;
justify-content: center;
align-items: center;
}